@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="footer-logo">@ViewData["Title"] MedicaTeams</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MedicaTeams</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Pricing">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Volunteers" asp-action="Create">Be A Volunteer</a>
                        </li>
                        @*@if (SignInManager.IsSignedIn(User))
        {
            if (User.IsInRole("Administrator"))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Venues" asp-action="Index">Venues</a>
                </li>
            }

        }
        @if (SignInManager.IsSignedIn(User))
        {
            if (User.IsInRole("Administrator"))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="VaccineCandidates" asp-action="Index">Vaccines</a>
                </li>
            }
        }*@
                        @if (SignInManager.IsSignedIn(User))
                        {


                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Dashboard">Dashboard</a>
                            </li>

                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="container border-top footer-section py-2">
        <div class="row">
            <div class="col-12 col-md">
                <p class="footer-logo">MedicaTeams</p>
                <small class="d-block mb-3 text-muted">© 2021-2022 By Safayet Jamil</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Searching</a></li>
                    <li><a class="text-muted" href="#">Sorting</a></li>
                    <li><a class="text-muted" href="#">Pagination</a></li>
                    <li><a class="text-muted" href="#">Authentication</a></li>
                    <li><a class="text-muted" href="#">Role Authorization</a></li>
                    <li><a class="text-muted" href="#">access Control</a></li>

                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Languages</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">C sharp</a></li>
                    <li><a class="text-muted" href="#">Asp net core </a></li>
                    <li><a class="text-muted" href="#">SQL</a></li>

                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Our Team</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Md:Shalauddin Kabir (Project cordinator)</a></li>
                    <li><a class="text-muted" href="#">Sheikh Mekail(082)</a></li>
                    <li><a class="text-muted" href="#">Kazi Safayet Jamil(062)</a></li>
                    
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Social Media</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Facebook</a></li>
                    <li><a class="text-muted" href="#">Instagram</a></li>
                    <li><a class="text-muted" href="#">Twitter</a></li>
                    <li><a class="text-muted" href="#">Linkedin</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
