@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<div class="container space">
    <div class="row">

        <div class="col-sm">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">List</div>
                <div class="card-body">
                    <a asp-controller="Venues" asp-action="Index" class="card-title text-dark dashboard-text">Venue Index</a>
                    <p class="card-text">By clicking venue index it will take you to the list of total venues and allows you searching</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card  border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">List</div>
                <div class="card-body">
                    <a asp-controller="VaccineCandidates" asp-action="Index" class="card-title text-dark dashboard-text">Candidates Index</a>
                    <p class="card-text">By clicking cadidates index it will take you to the list of total candidates and allows you sorting</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Add</div>
                <div class="card-body">
                    <a asp-controller="VaccineCandidates" asp-action="Create" class="card-title text-dark dashboard-text">Venue Candidate</a>
                    <p class="card-text">By clicking add it will take you to a form where you can add single candidates who comes to venue</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-header">List</div>
                <div class="card-body">
                    <a asp-controller="ApplyOnlines" asp-action="Index" class="card-title text-dark dashboard-text">Online Applicants</a>
                    <p class="card-text">By clicking online index it will take you to the list of total list of online applicants and other actions.</p>
                </div>
            </div>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            if (User.IsInRole("Administrator"))
            {
                <div class="col-sm">
                    <div class="card  border-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">Add</div>
                        <div class="card-body">
                            <a asp-controller="Venues" asp-action="Create" class="card-title text-dark dashboard-text">Add Venue</a>
                            <p class="card-text">By clicking Add venue it will take you to a to a form where you can add venues for your events data.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Add</div>
                        <div class="card-body">
                            <a class="card-title text-dark dashboard-text" asp-area="Identity" asp-page="/Account/Register">Add Volunteer</a>
                            <p class="card-text">By clicking venue index it will take you to a form where you can add volunteer for your event.</p>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
    <div class="row">
        @if (SignInManager.IsSignedIn(User))
        {
            if (User.IsInRole("Administrator"))
            {
                <div class="col-sm">
                    <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Add</div>
                        <div class="card-body">
                            <a class="card-title text-dark dashboard-text" asp-area="" asp-controller="Volunteers" asp-action="Index">Volunteer List</a>
                            <p class="card-text">By clicking volunteers index it will take you to the list of total volunteers and allows you sorting</p>
                        </div>
                    </div>
                </div>
            }
        }
            </div>
</div>




    
   
