@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<div class="container space">
    <div class="row">

        <div class="col-sm">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <a asp-controller="Venues" asp-action="Index" class="card-title text-dark dashboard-text">Index of Venue</a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card  border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <a asp-controller="VaccineCandidates" asp-action="Index" class="card-title text-dark dashboard-text">Candidates Index</a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <a asp-controller="VaccineCandidates" asp-action="Create" class="card-title">Create Candidates</a>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card border-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Index of Online Applicants</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            if (User.IsInRole("Administrator"))
            {
                <div class="col-sm">
                    <div class="card  border-info mb-3" style="max-width: 18rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <a asp-controller="Venues" asp-action="Create" class="card-title">Create Venues</a>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Header</div>
                        <div class="card-body">
                            <a class="card-title text-dark dashboard-text" asp-area="Identity" asp-page="/Account/Register">New Volunteer</a>
                            <p class="card-text">In this page i will add number off vc venue,candidate,voluteer etc</p>
                        </div>
                    </div>
                </div>
            }
        }

            </div>
</div>




    
   
