@model MedicaTeams.Models.VaccineCandidate

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VaccineCandidate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VaccineDate" class="control-label"></label>
                <input asp-for="VaccineDate" class="form-control" />
                <span asp-validation-for="VaccineDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abnormalities" class="control-label"></label>
                <input asp-for="Abnormalities" class="form-control" />
                <span asp-validation-for="Abnormalities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue" class="control-label"></label>
                <select asp-for="VenueId" class="form-control" asp-items="@(SelectList)ViewBag.Options"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
