@model MedicaTeams.Models.ApplyOnline

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ApplyOnline</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Enter you name" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <span class="text-secondary">Minimum 3 and Maximum 40 Charecters</span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" value="+88" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                <span class="text-secondary">Phone Number must not exceed 11 digit</span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferedDate" class="control-label">Prefered Date</label>
                <input asp-for="PreferedDate" class="form-control" />
                <span asp-validation-for="PreferedDate" class="text-danger"></span>
                <span class="text-secondary">Put the date you want get vaccinated</span>
            </div>
            <div class="form-group">
                <label asp-for="VenueId" class="control-label">Venue Name</label>
                <select asp-for="VenueId" class="form-control" asp-items="@(SelectList)ViewBag.Options"></select>
            </div>
            <div class="form-group">
                <label asp-for="Abnormalities" class="control-label"></label>
                <input asp-for="Abnormalities" class="form-control" placeholder="Such as allergy,diabetics" />
                <span asp-validation-for="Abnormalities" class="text-danger"></span>
                <span  class="text-secondary">Set "NO" if you dont have any</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
