
<h1>@ViewData["Title"]</h1>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Contact Us</h1>
    <p class="lead">You can contact for our service from here.Get a direction to our office to meet and greet with us.We are 24 hour availble online</p>
</div>
<div class="row">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1838.735781413753!2d89.55225617543653!3d22.822036686309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1616356879293!5m2!1sen!2sbd" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
<div class="row text-center">
    <div class="col-4 box1 pt-4">
        <a href="">
            <i class="fas fa-phone fa-3x"></i>
            <h3 class="d-none d-lg-block d-xl-block">Phone</h3>
            <p class="d-none d-lg-block d-xl-block">+8801784610333</p>
        </a>
    </div>
    <div class="col-4 box2 pt-4">
        <a href="">
            <i class="fas fa-home fa-3x"></i>
            <h3 class="d-none d-lg-block d-xl-block">Address</h3>
            <p class="d-none d-lg-block d-xl-block">4No.Kashem Sarak Khulna</p>
        </a>
    </div>
    <div class="col-4 box3 pt-4">
        <a href="">
            <i class="fas fa-envelope fa-3x"></i>
            <h3 class="d-none d-lg-block d-xl-block">E-mail</h3>
            <p class="d-none d-lg-block d-xl-block">work.jamil4@gmail.com</p>
            <p class="d-none d-lg-block d-xl-block">skmekail864@gmail.com</p>
        </a>
    </div>
</div>


