@{
    ViewData["Title"] = "Search Venue";
}
<div>
    <h1>Search Venue or Vaccine</h1>

    <p> Search your venue site's or vaccine name from below then the application page will appear </p>
</div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <nav class="navbar navbar-light bg-light">
                            <form class="form-inline" asp-controller="Venues" asp-action="Index" method="get">
                                <input class="form-control mr-sm-2" placeholder="Search by venues" aria-label="Search" name="SearchString">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </nav>
                    </div>
                    <div class="col-md-6">
                        <nav class="navbar navbar-light bg-light">
                            <form class="form-inline" asp-controller="Venues" asp-action="Vaccinesearch" method="get">
                                <input class="form-control mr-sm-2" placeholder="Search by vaccine" aria-label="Search" name="SearchString">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </nav>
                    </div>
                </div>
                </div>
