@{
    ViewData["Title"] = "Search Venue";
}
<div>
    <h1>Search Venue</h1>

    <p>Use this page to search your venue site's </p>
</div>
<div>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline" asp-controller="Venues" asp-action="Index" method="get">
            <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" name="SearchString">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</div>
<div>
<a class="btn btn-primary" asp-controller="ApplyOnlines" asp-action="Create">Apply Online</a>
 </div>