@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1>Welcome Dear User</h1>
    <h2>Thank you for your application</h2>

    <p>For more information please contact +880178610333 </p>
    <a asp-controller="Home" asp-action="Index">Back to Home Page</a>
    <div class="" d-flex justify-content-center"">
        <img src="~/images/welcome2.svg">
    </div>
</div>
