@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Thank you for your confirmation";
}

<h1>@ViewData["Title"]</h1>
<div class="text-center">
<a asp-controller="Home" asp-action="Index">Back to Home Page</a>
<div class="" d-flex justify-content-center"">
    <img src="~/images/welcome2.svg">
</div>
</div>